---
layout: default
---

{% assign data = site.data.data %}

{% if site.open %}

<div class="wrapper">

    {% include header.html %}
    </br>

    <!-- Tabs Navigation -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Intro</a>
      </li>
      {% if data.experiences.display %}
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="experiences-tab" data-bs-toggle="tab" href="#experiences" role="tab" aria-controls="experiences" aria-selected="false">Professional Experience</a>
      </li>
      {% endif %}
      {% if data.skills.display or data.education.display %}
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="skills-tab" data-bs-toggle="tab" href="#skills" role="tab" aria-controls="skills" aria-selected="false">Education & Skills</a>
      </li>
      {% endif %}
      {% if data.publications.display %}
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="publications-tab" data-bs-toggle="tab" href="#publications" role="tab" aria-controls="publications" aria-selected="false">Publications</a>
      </li>
      {% endif %}
      {% if data.projects.display %}
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="projects-tab" data-bs-toggle="tab" href="#projects" role="tab" aria-controls="projects" aria-selected="false">Projects</a>
      </li>
      {% endif %}
      {% if data.articles.display %}
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="articles-tab" data-bs-toggle="tab" href="#articles" role="tab" aria-controls="articles" aria-selected="false">Blog Articles</a>
      </li>
      {% endif %}
      {% if data.interests.display %}
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="interests-tab" data-bs-toggle="tab" href="#interests" role="tab" aria-controls="interests" aria-selected="false">Interests</a>
      </li>
      {% endif %}
      {% if data.evaluation.display %}
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="evaluation-tab" data-bs-toggle="tab" href="#evaluation" role="tab" aria-controls="evaluation" aria-selected="false">Evaluation</a>
      </li>
      {% endif %}
    </ul>

    <!-- Tabs Content -->
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        {% include profile.html %}
      </div>
      <div class="tab-pane fade" id="experiences" role="tabpanel" aria-labelledby="experiences-tab">
        {% include experiences.html %}
      </div>
      <div class="tab-pane fade" id="skills" role="tabpanel" aria-labelledby="skills-tab">
        {% include education.html %}
        </br>
        {% include skills.html %}
        </br>
        {% include language.html %}
      </div>
      <div class="tab-pane fade" id="publications" role="tabpanel" aria-labelledby="publications-tab">
        {% include publications.html %}
      </div>
      <div class="tab-pane fade" id="projects" role="tabpanel" aria-labelledby="projects-tab">
        {% include projects.html %}
      </div>
      <div class="tab-pane fade" id="articles" role="tabpanel" aria-labelledby="articles-tab">
        {% include articles.html %}
      </div>
      <div class="tab-pane fade" id="interests" role="tabpanel" aria-labelledby="interests-tab">
        {% include interests.html %}
      </div>
      <div class="tab-pane fade" id="evaluation" role="tabpanel" aria-labelledby="evaluation-tab">
        {% include evaluation.html %}
      </div>
    </div>

</div>

{% include footer.html %}

{% else %}

{% include close.html %}

{% endif %}
