{% assign articles = data.articles %}
{% if articles and articles.display %}
<section class="section projects-section">

    <div class="section-title">
        {{ articles.title }}
    </div>

    {% if articles.intro %}
    <div class="intro">
        <p>{{ articles.intro | markdownify }}</p>
    </div>
    {% endif %}

    {% for article in articles.items %}
    <div class="item">
        {% if article.name %}
        <p class="project-name">
            {% if article.link %}
            <a href="{{ project.link }}" target="_blank">{{ article.name }}</a>
            {% else %}
            {{ article.name }}
            {% endif %}
        </p>

        {% if article.details %}
        <div class="details">
            {{ article.details | markdownify }}
        </div>
        {% endif %}
        {% endif %}
    </div>
    {% endfor %}

</section>
{% endif %}
