{% assign events = data.events %}
{% if events and events.display %}
<section class="section publications-section">

	<!--
    <div class="section-title">
        {{ publications.title }}
    </div>
    -->

    {% if events.intro %}
    <div class="intro">
        {{ events.intro | markdownify }}
    </div>
    {% endif %}

    {% for event in events.items %}
    <div class="item">
    
    	 <ul class="list-unstyled contact-list d-flex justify-content-center justify-content-md-start">
        	{% if event.video %}
        	<li><a href="{{ event.video }}" target="_blank"><i class="fa-solid fa-video"></i></a></li>
        	{% endif %}
        	{% if event.slides %}
        	<li><a href="{{ event.slides }}" target="_blank"><i class="fa-brands fa-slideshare"></i></a></li>
        	{% endif %}
        	{% if event.pdf %}
        	<li><a href="{{ event.pdf }}" target="_blank"><i class="fa-solid fa-file"></i></a></li>
        	{% endif %}
        </ul>
    
        {% if event.title %}
        <p class="pub-title">
            {% if event.link %}
            <a href="{{ event.link }}" target="_blank">{{ event.title }}</a>
            {% else %}
            {{ event.title }}
            {% endif %}
        </p>

        {% if event.authors %}
        <div class="pub-authors">{{ publication.authors }}</div>
        {% endif %}

        {% if event.conference %}
        <div class="role">{{ event.conference }}</div>
        {% endif %}
        {% endif %}
        
        <!--{% if event.description %}
        <div class="details">
            {{ event.description | markdownify }}
        </div>
        {% endif %}
        -->
        
        <br/>
    </div>
    {% endfor %}

</section>
{% endif %}
