/* ======= Base ======= */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background: $background-color;
    padding: $spacing-unit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: $a-color;

    &:hover {
        text-decoration: none;
        color: darken($theme-color, 10%);
    }

    &:focus {
        text-decoration: none;
    }
}

p {
    line-height: $base-line-height;
    margin-bottom: $spacing-unit / 4;
}

.wrapper {
    background: $wrapper-color;
    max-width: $content-width;
    margin: 0 auto;
    position: relative;
    padding: $spacing-unit * 2;

    .section-title {
        font-size: $large-font-size;
        font-weight: 400;
        font-family: "Inter", sans-serif;
        color: $theme-color;
        position: relative;
        margin-top: 0;
        margin-bottom: $spacing-unit / 2;
        border-bottom: 1px solid rgba($theme-color, 25%);
    }

    .section {
        margin-bottom: $spacing-unit / 4;
    }

    .name {
        font-size: $huge-font-size;
        font-weight: 900;
        margin-top: 0;
        font-family: "Inter", sans-serif;
        margin-bottom: $spacing-unit / 4;
    }

    .title {
        color: $text-color-secondary;
        font-size: $middle-font-size;
        font-weight: $base-font-weight;
        margin-top: 0;
        margin-bottom: $spacing-unit / 4;
    }

    .contact-list {
        margin-bottom: $spacing-unit / 4;
        display: flex;
    	flex-direction: row;
    	flex-wrap: wrap;
    	max-width: 1000px;

        li {
        	font-size: 1.4em;
            display: inline;
            white-space: nowrap;

            &:not(:last-child)::after {
                content: "|";
                margin: 0 .25em;
            }
        }
        
        a {
			color: $text-color;
		}
    }

    .avatar {
        float: left;
        max-width: 110px;
        margin-bottom: $spacing-unit;
        border: 0px solid $wrapper-color;
        border-radius: 50%;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        margin-right: $spacing-unit;
    }
    
    .logo {
        float: left;
        width: 52px;
        height: 52px;
        object-fit: contain;
        padding-left: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        padding-right: 10px;
        padding-left: 0px;
        border: 0px solid $wrapper-color;
    }

     .item {
         padding-bottom: $spacing-unit / 4;
     }

    .upper-row {
        position: relative;
        overflow: hidden;
        margin-bottom: 2px;
    }

    .time, .degree, .location {
        position: absolute;
        right: 0;
        top: 0;
        color: $text-grey;
    }

    .role, .major {
        font-style: italic;
    }

    .company, .university, .project-name, .pub-title {
        font-weight: 700;
    }

    .intro, .details {
        ul {
            margin-bottom: $spacing-unit / 4;
            padding-left: $spacing-unit;
        }
    }

    .languages-list, .interests-list {
        margin-bottom: $spacing-unit / 4;

        li {
            display: inline;
            white-space: nowrap;

            &:not(:last-child)::after {
                content: "/";
                margin: 0 .25em;
            }
        }
    }
    
    .nav-tabs {
      border-bottom: 2px solid #dee2e6;
      overflow-x: auto; /* Enable horizontal scrolling */
      white-space: nowrap; /* Prevent wrapping of tabs */
      -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS devices */
    }
    
    .nav-tabs .nav-item {
      display: inline-block; /* Display items inline */
    }
    
    .nav-tabs .nav-link {
      border: none;
      color: #555;
      font-size: 16px;
      text-transform: uppercase; /* Capitalize tab titles */
      padding: 10px 15px; /* Adjust padding for better touch interaction */
    }
    
    .nav-tabs .nav-link.active {
      color: #007bff;
      border: none;
      border-bottom: 2px solid #007bff;
      background-color: transparent;
      font-weight: bold; /* Bold selected tab titles */
    }

    .pub-title, .project-name {
        color: $text-color;
        margin-bottom: 1px;
    }

    .pub-authors {
        font-style: italic;
        margin-bottom: 1px;
    }
    
    .tab-content > .tab-pane {
      padding: 20px;
      border: 1px solid #dee2e6;
      border-top: none;
    }
}

.footer {
    padding-top: $spacing-unit / 2;

    .copyright {
        color: $text-color-secondary;
    }

    .fa-heart {
        color: $heart;
    }
}
